*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
     justify-content: center;
     align-items: center; 
}
.box{
    height: 100px;
    width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    animation: moving;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;

} 
@keyframes moving{
    from{
        transform: rotate(0deg) translate(200px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(200px) rotate(-360deg);
    }
}