*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    perspective: 800px;
}

.box{
    height: 150px;
    width: 150px;
    background-color: orange;
    cursor: pointer;
     /* transform: translate(200px,200px); */
     /* transform: rotateY(700deg);
     transform: skewY(-60deg); */
    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 2s; */
    /* transition: all 3s ease-in 2s; */ 
    /* transition: all 3s; */
    /* border-radius: 50%; */
    font-size: 50px;
    color: white;
    animation: moving;
    animation-duration: 2s;
    animation-iteration-count: infinite ;
    animation-timing-function: linear;
}
@keyframes moving{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}
/* .box:hover{
    /* background-color: purple;
    width: 300px;
    height: 300px; */
    /* transform: scaleY(2); */
    /* transform: translateY(100px); */
    /* transform: translateZ(200px); */
 