*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right,#63b3ed,#4facfe);
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:420px;
    background:#263b75;
    padding:35px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.card h1{
    color:white;
    text-align:center;
    margin-bottom:30px;
    font-size:40px;
}

.input-box{
    margin-bottom:18px;
}

.input-box label{
    display:block;
    color:#dcdcdc;
    margin-bottom:8px;
    font-size:17px;
}

.input-box input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:6px;
    font-size:16px;
    outline:none;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:6px;
    background:#62d0ff;
    color:white;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
    transition:0.3s;
}

button:hover{
    background:#42c3ff;
}

.result{
    margin-top:20px;
    background:#334c8f;
    padding:15px;
    border-radius:8px;
    color:white;
    line-height:1.8;
    min-height:60px;
}