/* 
*{
    margin: 0px;
    padding: 0px;
} */
h1{
    background-color: bisque;
     height: 300px;
     width: 300px;
     border: 10px solid orange;
     padding: 20px;
     box-sizing:content-box; 
    /* display: inline-block;*/

} 
h2{
    background-color: blueviolet;
     height: 300px;
     width: 300px;
     border: 10px solid orange;
     padding: 20px;
     box-sizing: border-box;
  /* display: inline-block; */


}
span{
    background-color: yellow;
    /* padding-top: 50px;
    padding-bottom: 50px; */
} 