#container{
    background-color: red;
    height: 300px;
    width: 400px;
    position: relative;
}
#container1{
    background-color: blue;
    height: 150px;
    width: 400px;
    position: absolute;
    top: 75px;
    bottom: 75px;
    
}
#circle{
    background-color: white;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: absolute;
    left: 140px;
    top: 17px;
}