#container{
    background-color: rgb(49, 49, 169);
    height: 350px;
    width: 500px;
    position: relative;
}
.box{
   box-sizing: border-box;
   background-color: rgb(146, 28, 28);
}
.a, .b{
    height: 80px;
    width: 500px;
}
.b{
    position: absolute;
    bottom: 0px;
}
#circle{
    background-color: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 175px;
}
