.container{
    background-color: blanchedalmond;
    display: flex;
    height: 500px;
    flex-direction: row;
    /* justify-content: center ;
    align-items: center; */
    /* flex-wrap: wrap; */
}

.box{
    height: 100px;
    width: 100px;
    margin: 5px;
}   
.first{
    background-color: aqua;
    /* flex-grow: 1; */
    /* flex-basis: 200px; */ 
    /* align-self: flex-end; */
}
.second{
    background-color: rgb(130, 83, 25);
    /* flex-grow: 1; */
    /* flex-shrink: 4; */
    
}
.third{
    background-color: blueviolet;
    /* flex-grow: 1; */
}
.fourth{
    background-color: yellowgreen;
    /* flex-grow: 1; */
}